@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Background Image  */
body {
    background-image: url('assets/back.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* Navbar */
nav {
    border-radius: 0;
    height: 5rem;
    background-color: rgb(0, 0, 0,0.9); 
    color: #fff;
}


.navbar-nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 550;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 5.5rem;
    padding-left: 5.5rem;
}

nav{
    padding: 0 5px 0 5px;
}

.nav-link{
    padding: 23px 5.5rem 23px 5.5rem;
}

.navbar-nav{
    height: 5em;
    padding: 1px;
}


.navbar-nav a:hover:not(:focus){
    color: #fbff00;
}

nav a{
    position: relative;
    padding-top: 15px;
    margin: -1px;
    display: block;
}

nav a::after{
    content: '';
    position: absolute;
    width: 0;
    height:2px;
    background-color: #fbff00;
    top: 2.5em;
    left:30%;
    border-radius: 2px;
    transition: 0.5s;
}
nav a:hover:not(:focus):after{
    width:40%;
}
nav a:focus{
    background-color: #fbff00;
    color: #000000;
}

.btn {
    -webkit-border-radius: 16;
    -moz-border-radius: 16;
    border-radius: 50px;
    display: inline;
    width: 170px;
    height: 50px;
    border: solid 2px #fbff00;
    color: #fbff00;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
    font-size: larger;
}
  
.btn::before{
    content: "";
    position: absolute;
    top:0;
    left:0;
    width:0%;
    height: 100%;
    transition: 0.2s linear;
    z-index: -1;
}    

.btn:hover{
    color: #000000;
    transition: 0.2s linear;
}
.btn:hover::before{
    width:100%;
    border-radius: 50px;
    background-color: #fbff00;
    border: #fbff00;
}

/* Content  */

 .content {
    margin: 2rem 0 0 3rem;
    position: relative;
} 

.content h3 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 3.3rem;
    font-weight: 650;
    position: absolute;
    top: 12%;
    left: 13%;
    width: 300px;
    line-height: 4.5rem;
}
.vertical_cmd {
    border: solid rgb(251, 255, 0) 1px;
    height: 45px;
    justify-content: center;
    position: relative;
    top: 6px;
    height: 4em;
    opacity: 0.3;
}

@media only screen and (max-width:1100px){
    .btn{
        margin: 10px;
    }
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 3.5rem;
        padding-left: 3.5rem;
    }
}
@media only screen and (max-width:992px){
    .navbar-expand-lg .navbar-nav .nav-link{
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        z-index: 2;
    }
    .navbar navbar-expand-lg{
        z-index: -2;
        float: left;
    }
    .navbar navbar-expand-lg{
        float: left;
    }
    .content{
        clear: left;
    }
}